(
    name: "ayu Vivid Dark",
    foreground: "#BFBDB6",
    background: "#10141C",
    cursor: "#E6B450",
    bright_foreground: "#BFBDB6",
    dim_foreground: "#8B8A88",
    normal: (
        black: "#0A0000",
        red: "#E6495A",
        green: "#97C142",
        yellow: "#E89D37",
        blue: "#17ACF2",
        magenta: "#C385FE",
        cyan: "#84CEB5",
        white: "#FFFFFF",
    ),
    bright: (
        black: "#5A6378",
        red: "#F07178",
        green: "#AAD94C",
        yellow: "#FFB454",
        blue: "#59C2FF",
        magenta: "#D2A6FF",
        cyan: "#95E6CB",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#0C0608",
        red: "#A63947",
        green: "#6E8D37",
        yellow: "#A7742F",
        blue: "#157EB2",
        magenta: "#8D63BA",
        cyan: "#619687",
        white: "#B7B9BB",
    ),
)
