(
    palette: Dark((
        name: "ayu-vivid-dark",
        bright_red: (red: 0.9961, green: 0.3882, blue: 0.4392, alpha: 1.0),
        bright_green: (red: 0.6471, green: 0.8627, blue: 0.0039, alpha: 1.0),
        bright_orange: (red: 1.0, green: 0.5608, blue: 0.251, alpha: 1.0),
        gray_1: (red: 0.051, green: 0.0627, blue: 0.0902, alpha: 1.0),
        gray_2: (red: 0.0784, green: 0.0941, blue: 0.1294, alpha: 1.0),
        neutral_0: (red: 0.0, green: 0.0, blue: 0.0, alpha: 1.0),
        neutral_1: (red: 0.0, green: 0.0039, blue: 0.0118, alpha: 1.0),
        neutral_2: (red: 0.0627, green: 0.0784, blue: 0.1137, alpha: 1.0),
        neutral_3: (red: 0.1529, green: 0.1686, blue: 0.2118, alpha: 1.0),
        neutral_4: (red: 0.251, green: 0.2706, blue: 0.3137, alpha: 1.0),
        neutral_5: (red: 0.3569, green: 0.3765, blue: 0.4235, alpha: 1.0),
        neutral_6: (red: 0.4824, green: 0.502, blue: 0.5529, alpha: 1.0),
        neutral_7: (red: 0.6, green: 0.6196, blue: 0.6706, alpha: 1.0),
        neutral_8: (red: 0.7216, green: 0.7451, blue: 0.7961, alpha: 1.0),
        neutral_9: (red: 0.8471, green: 0.8706, blue: 0.9255, alpha: 1.0),
        neutral_10: (red: 1.0, green: 1.0, blue: 1.0, alpha: 1.0),
        accent_blue: (red: 0.349, green: 0.7608, blue: 1.0, alpha: 1.0),
        accent_indigo: (red: 0.0, green: 0.7333, blue: 0.9294, alpha: 1.0),
        accent_purple: (red: 0.8235, green: 0.651, blue: 1.0, alpha: 1.0),
        accent_pink: (red: 0.9529, green: 0.5686, blue: 0.5765, alpha: 1.0),
        accent_red: (red: 0.9961, green: 0.3882, blue: 0.4392, alpha: 1.0),
        accent_orange: (red: 1.0, green: 0.5608, blue: 0.251, alpha: 1.0),
        accent_yellow: (red: 0.902, green: 0.7059, blue: 0.3137, alpha: 1.0),
        accent_green: (red: 0.6471, green: 0.8627, blue: 0.0039, alpha: 1.0),
        accent_warm_grey: (red: 0.749, green: 0.7412, blue: 0.7137, alpha: 1.0),
        ext_warm_grey: (red: 0.902, green: 0.7529, blue: 0.5412, alpha: 1.0),
        ext_orange: (red: 1.0, green: 0.7059, blue: 0.3294, alpha: 1.0),
        ext_yellow: (red: 1.0, green: 0.7961, blue: 0.5608, alpha: 1.0),
        ext_blue: (red: 0.5216, green: 0.9176, blue: 0.7882, alpha: 1.0),
        ext_purple: (red: 0.7725, green: 0.5373, blue: 0.9961, alpha: 1.0),
        ext_pink: (red: 0.9922, green: 0.5608, blue: 0.3373, alpha: 1.0),
        ext_indigo: (red: 0.1804, green: 0.698, blue: 0.9647, alpha: 1.0),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some((red: 0.3529, green: 0.3882, blue: 0.4706)),
    bg_color: Some((red: 0.051, green: 0.0627, blue: 0.0902, alpha: 1.0)),
    primary_container_bg: Some((red: 0.0784, green: 0.0941, blue: 0.1294, alpha: 1.0)),
    secondary_container_bg: Some((red: 0.1176, green: 0.1333, blue: 0.1647, alpha: 1.0)),
    text_tint: Some((red: 0.749, green: 0.7412, blue: 0.7137)),
    accent: Some((red: 0.902, green: 0.7059, blue: 0.3137)),
    success: Some((red: 0.6471, green: 0.8627, blue: 0.0039)),
    warning: Some((red: 1.0, green: 0.5608, blue: 0.251)),
    destructive: Some((red: 0.851, green: 0.3412, blue: 0.3412)),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some((red: 0.902, green: 0.7059, blue: 0.3137)),
)
